_HOLD*
NOTES.md

# ALFRED
alfred/.config/alfred/Alfred.alfredpreferences/remote/**
alfred/.config/alfred/Alfred.alfredpreferences/preferences/local/**
!alfred/.config/alfred/Alfred.alfredpreferences/preferences/local/**/example
alfred/.config/alfred/Alfred.alfredpreferences/themes/theme.custom.*

# GITHUB-CLI
gh/.config/gh/hosts.yml

# GIT
git/.config/git/user

# KARABINER
karabiner/.local/share/karabiner/**
karabiner/.config/karabiner/automatic_backups/**
!karabiner/.config/karabiner/automatic_backups/**/.gitkeep
!karabiner/.local/share/karabiner/.gitkeep

# NVIM
nvim/.config/coc/**
!nvim/.config/coc/extensions/db.json
!nvim/.config/coc/extensions/package.json

nvim/.config/nvim/**
!nvim/.config/nvim/**/.gitkeep
!nvim/.config/nvim/after/**
!nvim/.config/nvim/ftplugin/**
!nvim/.config/nvim/spell/**/*.add

nvim/.local/share/nvim/**
!nvim/.local/share/nvim/**/.gitkeep

# RCLONE
rclone/.config/rclone/rclone.conf

# SSHRC
sshrc/.sshrc.d/.config/rclone/rclone.conf

# VSCODE
vscode/.vscode/dictionaries/private.txt

vscode/.vscode/extensions/**
!vscode/.vscode/extensions/.gitkeep

vscode/.vscode/workspaces/**
!vscode/.vscode/workspaces/.gitkeep

# ZSH
zsh/.zsh.d/**
!zsh/.zsh.d/.zim/zimfw.zsh
!zsh/.zsh.d/.zimrc
!zsh/.zsh.d/.zlogin
!zsh/.zsh.d/.zprofile
!zsh/.zsh.d/.zshrc
