#!/usr/bin/env zsh
###############################################################################
###############################################################################


# .zimrc


###############################################################################
# Modules

zmodule environment    # Sets sane Zsh built-in environment options
zmodule input          # Applies correct bindkeys for input events
zmodule utility        # Utility aliases and functions. Adds colour to ls, grep and less

zmodule git            # Provides handy git aliases and functions
zmodule ssh            # Provides a convenient way to load ssh-agent.
zmodule fasd           # Offers quick access to files and directories for POSIX shells
zmodule homebrew       # Defines Homebrew aliases
zmodule ruby           # Provides ruby and bundler aliases

zmodule bgrrtt/zimfw-node       -n node          # Provides node version management integrations
zmodule bgrrtt/zimfw-github-cli -n github-cli    # Provides github-cli aliases
zmodule bgrrtt/zimfw-git-flow   -n git-flow      # Provides git-flow aliases
zmodule bgrrtt/zimfw-docker     -n docker        # Provides docker aliases

zmodule hlissner/zsh-autopair              -n autopair          #
zmodule michaelaquilina/zsh-you-should-use -n you-should-use    #

###############################################################################
# Prompt

#
# Helpers
#

zmodule prompt-pwd     # Formats the current working directory to be used by prompts. # should prompt-pwd really be named pwd-info????
zmodule duration-info  # Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule git-info       # Exposes git repository status information to prompts, used by asciiship.

#
# Only ONE PROMPT should be uncommented at a time.
#

# ASCIISHIP (requires prompt-pwd, duration-info, git-info)
zmodule asciiship      # A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.

# INVADER (requires git-info)
# zmodule bgrrtt/zimfw-invader-prompt -n invader-prompt

# SPACESHIP
# zmodule denysdovhan/spaceship-prompt -n spaceship
# zmodule bgrrtt/spaceship-prompt-config -n bgrrtt-spaceship-prompt-config

# POWERLEVEL10K
# zmodule romkatv/powerlevel10k
# zmodule bgrrtt/zimfw-powerlevel10k-config -n bgrrtt-powerlevel10k-config

###############################################################################
# Completion

zmodule zsh-users/zsh-completions    # Additional completion definitions for Zsh.

# * completion must be sourced after zsh-users/zsh-completions and any other completion definition modules
# * zsh-users/zsh-syntax-highlighting|zdharma/fast-syntax-highlighting must be sourced after completion
# * zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting|zdharma/fast-syntax-highlighting

# ? zdharma/fast-syntax-highlighting might not require a specific order,
# ? but as a drop in replacement for zsh-users/zsh-syntax-highlighting, where else would be better?

zmodule completion                                # Enables and configures smart and extensive tab completion.
zmodule zsh-users/zsh-autosuggestions             # Fish-like autosuggestions for Zsh.
zmodule zdharma/fast-syntax-highlighting          # Fish-like syntax highlighting for Zsh. But faster.
zmodule zsh-users/zsh-history-substring-search    # Fish-like history search (up arrow) for Zsh.

###############################################################################
###############################################################################
